<!--<div>
    <!--vista para registrarse
    <br>
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="container">
          <h3>Registro ingreso de datos</h3>
          <div class="mb-3">
              <label for="name" class="form-label">Nombre completo</label>
              <input #name class="form-control" id="name" placeholder="nombre aqui" required>
            </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input #email type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="ejemplo@gmail.com" required>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input #password type="password" class="form-control" id="password" placeholder="password" required>
        </div>
        <div class="mb-3">
          <label for="confirmaPassword" class="form-label">Confirmacion password</label>
          <input #confirmaPassword type="password" class="form-control" id="confirmaPassword" placeholder="confirmar password" required>
        </div>
        <button type="submit" class="btn btn-secondary" (click)="registroUsuario(name.value,email.value,password.value,confirmaPassword.value)" >Aceptar</button>
      </div>
    </form>
  </div>-->
  
